* {
    box-sizing: border-box; 
}

body, html {
  margin : 0 ;   
  padding: 0 ;
}

body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(90,90,90)
}
main {
    width : 350px ;
    height: 600px ; 
    display: flex;
    flex-direction: column; 
    padding: 10px; 
    background-color:black ; 
    border-radius: 30px;
    background-image: url("Konasi_mini.png") ; 
    background-size:110%;
}  

#display.hover {
    transform: rotate( 45deg );
}

#display {
    flex: 1;
    margin : 10px;
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    font-size: 3rem; 
    transition: all ease 1s;
}

#pad {
    flex: 3;
    margin : 10px; 
    display :flex; 
    flex-direction: column;
}

.pad_row{
    flex: 1 1 0; 
    margin: 10px; 
    display: flex;
    flex-direction: row; 
    justify-content:space-between; 
}

.pad_btn:not([id="pad_bin_n0"]) {
    width: 4rem;
    height : 4rem;  
    border-radius: 50%;
    border-style : none;
}

#pad_bin_n0 {
    width: 8.7rem;
    height : 4rem;  
    border-radius: 100px;
    border-style: none;

}

.pad_btn {
    font-size: 1.6em;
}

#pad_bin_ac, #pad_bin_int,#pad_bin_per{
    background-color: gray;
} 

#pad_bin_div, #pad_bin_mul, #pad_bin_sub, #pad_bin_add, #pad_bin_eql{
    background-color : orange;
    color: white; 
    font-size: 2rem;
} 

.num {
    background-color: rgb(60, 60, 60);
    color: white;
}


